
@{
    ViewBag.Title = "MainPage";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 d-flex justify-content-center mt-5">
            <a href="@Url.Action("GetPlayersPSG", "PSG")">
                <img src="https://upload.wikimedia.org/wikipedia/tr/thumb/f/f4/PSG_logosu.svg/1200px-PSG_logosu.svg.png" alt="PSG" style="width: 200px;">
            </a>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
            <a href="@Url.Action("GetPlayersBesiktas", "Besiktas")">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Be%C5%9Fikta%C5%9F_Logo_Be%C5%9Fikta%C5%9F_Amblem_Be%C5%9Fikta%C5%9F_Arma.png" alt="Besiktas" style="width: 200px;">
            </a>
        </div>
    </div>
</div>

