
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Besiktas", FormMethod.Post))
{
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="@Url.Action("GetPlayersBesiktas", "Besiktas")" class="btn btn-default">Cancel</a>
    </div>

    @Html.Partial("_CreateOrUpdate");

}


